@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #000c4e;
    --cor2: #000524;
    --cor3: #0f5db6;
    
    --fonte: "Poppins", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: var(--cor1);
}

.noticia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 10%;
    color: white;
    background-color: var(--cor2);
}

.noticia img{
    border: 1px solid var(--cor3);
    border-radius: 12px;
    width: 40%;
}

.noticia .conteudo{
    width: 40%;
}

#staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 2%;
}

.linha-staff{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 2%;
}

.card-staff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding-top: 1%;
    width: min(200px, 100%);
    margin: 0 auto;
    text-align: center;
}

.card-staff .card-staff:last-child {
    grid-column: 1 / -1;
    justify-self: center;
}

.card-staff img{
    width: 160px;
    border-radius: 12px;
    margin-bottom: 5%;
}


.dono{
    background-image: linear-gradient(#1100FA, #5300AA);
}

.presidente{
    background-image: linear-gradient(#89B6CA, #053CFB);
}

.diretor{
    background-image: linear-gradient(#002AFF, #00C7FE);
}

.administrador{
    background-image: linear-gradient(#ffffff, #090909);
}

.senior{
    background-image: linear-gradient(#D5B71E, #D2853C);
}

.moderador{
    background-image: linear-gradient(#E11111, #AA3B3B);
}